body{
    background-color: #dad6d1;
}
.header{
    background-image: url(/Assets/img//Sala\ de\ entretenimiento.png);
    background-size: contain;
    margin: 5em;
    padding: 5em;
    text-align: center;
    color: white;
}
.header h1{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.header p{
    margin: 0%;
    padding: 0%;
    border: 0%;
}

.products{
   width: 50%;
   margin: auto;
}
.products h2{
    text-align: center;
}

.footer{
    text-align: center;
    background-color: white;
}
.footer h4{
    margin: 0%;
}
